#mapa {
    overflow: hidden;
    position: relative;
    background: #fff;
}

#mapa header {
    margin-bottom: 0;
}

#mapa header h3 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: #28505C;
}

#mapa header h4 {
    background: var(--gradient);
    color: #162b32;
    font-size: 1.6rem;
    padding: 1rem 3rem;
    border-radius: .5rem;
    font-weight: 500;

    margin-bottom: 1rem;
    margin-top: 1rem;
}

#mapa header p.dois {
    font-size: 1.6rem;
    margin-bottom: 0;
}

#mapa iframe {
    width: 100%;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#mapa iframe.desktop {
    display: none;
}

#mapa header p.dois {
    font-size: 1.6rem;
    margin-bottom: 0;
}

#mapa a button {
    margin-top: 2rem;
}

@media (min-width: 1080px) {
    section#mapa .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 6rem;
        align-items: center;
        grid-template-areas: "a b";
    }

    section#mapa header {
        margin-bottom: 0;
        align-items: start;
        text-align: left;
        grid-area: b;
    }

    section#mapa header p {
        font-size: 2rem;
    }

    section#mapa iframe {
        display: inherit;
        margin-top: 0;
        margin-bottom: 0;

        aspect-ratio: 16/7;
        object-fit: cover;
        border-radius: 2rem;
    }

    section#mapa iframe.mobile {
        display: none;
    }
}